backend/target
backend/out
backend/resources/application.properties
backend/.mvn
backend/.idea

.idea
.mvn
.vscode

node_modules
frontend/.angular
frontend/.vscode
frontend/src/.vscode
frontend/node_modules
frontend/.prettierignore
