<div class="dietideals24-register-form-wrapper">
    <dietideals24-labled-form-input [label]="'name'" [type]="'text'"/>
    <dietideals24-labled-form-input [label]="'surname'" [type]="'text'"/>
    <dietideals24-labled-form-input [label]="'email'" [type]="'email'"/>
    <dietideals24-labled-form-input [label]="'phone'" [type]="'text'"/>
    <dietideals24-labled-form-input [label]="'birthday'" [type]="'date'"/>
    <dietideals24-labled-form-input [label]="'password'" [type]="'password'"/>
    <dietideals24-labled-form-input [label]="'confirm password'" [type]="'password'"/>
    <button  class="btn-primary w-100 mt-4"> REGISTER </button>
</div>
